<head>
  <%= javascript_include_tag "jquery-1.10.2.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.10.3.custom.js" %>
  <%= javascript_include_tag "template.js" %>
</head>

<body>
  <script type="text/javascript">
  $(function ( event, ui ) {
    $( ".draggable" ).draggable({
      revert: 'invalid',
    });
      });
  </script>
  <p>
    <h1>Welcome to Swanify</h1>
    <div class="image_list">
      <% @item_list.items.each do |item| %>
      <div class="draggable">
        <a href="#"><%= image_tag item.images[0] %></a>
      </div>
      <% end %>
    </div>
    <strong>Owner:</strong>

    <div id="canvas"></div>
    <%= @canvas.owner %>

    <script type="text/javascript">
    var canvas = $("#canvas");
    var currentTemplate = templates[0];
    var items = currentTemplate.items;

    for(var index in items)
    {
     var canvasContent = $('<div class="template_item"></div>');
     var item = items[index];
     canvasContent.css("left", item[0] + "px");
     canvasContent.css("top", item[1] + "px");
     canvasContent.css("width", item[2] + "px");
     canvasContent.css("height", item[3] + "px");
     canvas.append(canvasContent);
   }
   </script>
 </p>
</body>