<head>
  <%= javascript_include_tag "jquery-1.10.2.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.10.3.custom.js" %>
</head>

<body>
  <%= javascript_tag "var item_list = #{@item_list.to_json};" %>
  <%= javascript_tag "var canvas = #{@canvas.to_json};" %>
  <%= javascript_tag "var t = '#{@t}';" %>
  <%= javascript_tag "var is_my_canvas = #{@is_my_canvas};" %>

  <script type="text/javascript">
  function getItem(itemId)
  {
    itemId = itemId.toString();
    for(var i in item_list.items)
    {
      var item = item_list.items[i];
      if(item.id == itemId)
      {
        return item;
      }
    }
  }

  $(document).ready(function() {
    $("img.item_image").click(function(){
      var itemID = $(this).attr("id");
      var item = getItem(itemID);
      $("img.item_image").css("border-color", "#a1dcd8");
      $("div.swan_innertext").removeClass("swan_innertext_selected");
      $("div.swan_textbar a").attr("href", item.url);
      $("div.swan_textbar a").text(item.title);
      $("img.item_image").css("border-width", "1px");
      $(this).siblings().addClass("swan_innertext_selected");
      $(this).css("border-width", "3px");
      $(this).css("border-color", "#f9a7b5");
    });

    var sharebtn = $("img.swan_share_btn");
    sharebtn.hover(function () {
            sharebtn.attr('src', "<%= asset_path('share_btn_over.png') %>");
        }, function () {
            sharebtn.attr('src', "<%= asset_path('share_btn.png') %>");
        });
        sharebtn.click(function() {

          var sharebox = $("div.sharebox");
          if(sharebox.length > 0)
          {
            sharebox.remove();
            return;
          }
          // var shareurl = document.location.hostname + document.location.pathname + "?t=" + "ken";
          var sharebox = $('<div class="sharebox"><ol id="selectable"><li class="ui-state-default">ken</li><li class="ui-state-default">picker</li><li class="ui-state-default">abby</li><li class="ui-state-default">ninji</li></ol></div>');
          $("body").append(sharebox);

          $("#selectable li").click(function () {
            var name = $(this).text();
            console.log(name);
            $("div.sharebox div").remove();
            var shareurl = document.location.hostname + document.location.pathname + "?t=" + name;
            var sharediv = $("<div>"+shareurl+"</div>");
            sharebox.append(sharediv);
          });
        });
  });

  function draggable_clicked()
  {
    var item = getItem(this.id);
    $("div.swan_textbar a").attr("href", item.url);
    $("div.swan_textbar a").text(item.title);
  }

  $(function ( event, ui )
  {
    $( ".draggable" ).draggable(
    {
      helper: 'clone',
      revert: 'invalid',
      appendTo: 'body',
      zIndex: 999,
    });

    $( ".canvas_item" ).droppable({
      drop: function( event, ui ) {
        var matchedItem = getItem(ui.draggable.attr('id'));
        setItem(matchedItem, $(this));
      }
    });
  });

  function setItem(item, canvasItem)
  {
    var imgUrl = "url(" + item.images[0] + ")";
    var imageItem = canvasItem.find('.image_item');
    imageItem.attr('id', item.id);
    // find item correct scaled size
    var width = canvasItem.width();
    var height = canvasItem.height();
    var backgroundsizestring;
    if(width <= height)
    {
      backgroundsizestring = width +'px auto';
    }
    else
    {
      backgroundsizestring = 'auto ' + height + 'px';
    }

    imageItem.css({
      'background' : 'white',
      'background-image': imgUrl,
      'background-position':'center',
      'background-repeat':'no-repeat',
      'display': 'block',
      'height': canvasItem.height(),
      'width': canvasItem.width(),
      'background-size': backgroundsizestring,
      'top' : canvasItem.scrollLeft(),
      'left' : canvasItem.scrollTop(),
      'z-index':998,
    });
    var titleBar = imageItem.find('.titleBar');
    titleBar.css('width', imageItem.width() - 6);
    titleBar.css('left', imageItem.scrollLeft());
    titleBar.text(item.title);

    var priceBar = imageItem.find('.priceBar');
    priceBar.css('width', imageItem.width() - 6);
    priceBar.css('left', imageItem.scrollLeft());
    priceBar.text("$ " + item.price);

    // Set the new candidate item
    var canvasId = canvasItem.attr('id');
    var itemId = item.id;
    var coverItemId = parseInt(itemId);

    if (typeof item['owner'] == 'undefined')
    {
      item['owner'] = t;
      item['suck'] = [-1];
      item['like'] = [-1];
    }

    createAllReviewButton(canvasItem, item);

    canvas.objects[canvasId].canditates[itemId] = item;
    if (is_my_canvas)
    {
      canvas.objects[canvasId].cover_item = coverItemId;
    }
    submitCanvas();
  }

  function submitCanvas()
  {
    var url = '/pavo_canvas/' + canvas.owner;
    var postString = JSON.stringify({ "pavo_canva" : canvas });
    $.ajax({
      type: "PUT",
      traditional: true,
      contentType: "application/json; charset=utf-8",
      url: url,
      data: postString
    });
  }

  function addItem(item, canvasItem)
  {
    var width = canvasItem.width();
    var height = canvasItem.height();
    var backgroundsizestring;
    if(width <= height)
    {
      backgroundsizestring = width +'px auto';
    }
    else
    {
      backgroundsizestring = 'auto ' + height + 'px';
    }

    var imgUrl = "url(" + item.images[0] + ")";
    var imageItem = $('<div id="' + item.id + '" class="image_item"></div>').css({
      'background' : 'white',
      'background-image': imgUrl,
      'background-position':'center',
      'background-repeat':'no-repeat',
      'display': 'block',
      'background-size': backgroundsizestring,
      'height': canvasItem.height(),
      'width': canvasItem.width(),
      'top' : canvasItem.scrollLeft(),
      'left' : canvasItem.scrollTop(),
      'z-index' : 9999
    });

    imageItem.appendTo(canvasItem);

    var titleBar = $("<div class='titleBar'>$ " + item.title + "</div>");
    titleBar.css('width', imageItem.width() - 6);
    titleBar.css('left', imageItem.scrollLeft());
    titleBar.appendTo(imageItem);

    var priceBar = $("<div class='priceBar'>$ " + item.price + "</div>");
    priceBar.css('width', imageItem.width() - 6);
    priceBar.css('left', imageItem.scrollLeft());
    priceBar.appendTo(imageItem);

    return imageItem;
  }

  $(document).ready(function(){
    $(".detailToggleBtn").click(function() {
      $(this).toggleClass('detailToggleBtnSelected');

      $(".titleBar").fadeToggle();
      $(".priceBar").fadeToggle();
    });
  });
  </script>

  <div class="swan_topbar">
    <div class="image_list horizontal_scroll">
      <% @item_list.items.reverse_each do |item| %>
        <span class="swan_image">
          <%= image_tag item.images[0], :class => "item_image draggable", :id => item.id %>
          <div class='swan_innertext'>$ <%= item.price %></div>
        </span>
      <% end %>
    </div>
    <div class='swan_plugin_edit_area'></div>
    <div class="swan_textbar"><a target="_blank"></a></div>
  </div>


  <div id="content">
    <div class="leftcontent">
    <!--img style="text-align:center;" src="<%= asset_path('text_info.png') %>"/-->
  </div>
    <div class="detailToggleBtn"></div>
    <div id="canvas"></div>
    <div id="selector">
      <div id="template_selector"></div>
      <div id="canditate_selector" class="overlay horizontal_scroll"></div>
      <img class="delete_btn_over hover_scale" src='<%= asset_path("delete_btn_over.png") %>' />
    </div>
    <div class="rightcontent">
    <img style="padding-top: 20px;" src="<%= asset_path('text_info.png') %>"/>
    <img class="swan_share_btn" src="<%= asset_path('share_btn.png') %>"/>
  </div>
  </div>

  <div style="margin-left: 90%">
    <strong>Owner: <%= @canvas.owner %></strong>
  </div>

  <script type="text/javascript">
  // alert("健保卡");
    // $("img.item_image").click(function(){
    //   var itemID = $(this).attr("id");
    //   var item = getItem(itemID);

    //   $("div.swan_textbar a").attr("href", item.url);
    //   $("div.swan_textbar a").text(item.title);
    //   $("img.item_image").css("border-width", "1px");
    //   $(this).css("border-width", "3px");
    // });
  initTemplate();
  var closeBtn = $('.delete_btn_over');
  closeBtn.hide();

  </script>
</body>