<head>
  <%= javascript_include_tag "jquery-1.10.2.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.10.3.custom.js" %>
</head>

<body>
  <%= javascript_tag "var item_list = #{@item_list.to_json};" %>
  <%= javascript_tag "var canvas = #{@canvas.to_json};" %>
  <%= javascript_tag "var t = '#{@t}';" %>
  <%= javascript_tag "var is_my_canvas = #{@is_my_canvas};" %>

  <script type="text/javascript">
  function getItem(itemId)
  {
    for(var i in item_list.items)
    {
      var item = item_list.items[i];
      if(item.id == itemId)
      {
        return item;
      }
    }
  }

  $(document).ready(function() {
    $("img.item_image").click(function(){
      var itemID = $(this).attr("id");
      var item = getItem(itemID);
      $("div.swan_innertext").removeClass("swan_innertext_selected");
      $("div.swan_textbar a").attr("href", item.url);
      $("div.swan_textbar a").text(item.title);
      $("img.item_image").css("border-width", "1px");
      $(this).siblings().addClass("swan_innertext_selected");
      $(this).css("border-width", "3px");
    });
  });

  function draggable_clicked()
  {
    var item = getItem(this.id);
    $("div.swan_textbar a").attr("href", item.url);
    $("div.swan_textbar a").text(item.title);
  }

  $(function ( event, ui )
  {
    $( ".draggable" ).draggable(
    {
      helper: 'clone',
      revert: 'invalid',
      appendTo: 'body',
      zIndex: 999,
    });

    $( ".canvas_item" ).droppable({
      drop: function( event, ui ) {
        var matchedItem = getItem(ui.draggable.attr('id'));
        setItem(matchedItem, $(this));
      }
    });
  });

  function setItem(item, canvasItem)
  {
    var imgUrl = "url(" + item.images[0] + ")";
    var imageItem = canvasItem.find('.image_item');
    imageItem.attr('id', item.id);
    // find item correct scaled size
    var width = canvasItem.width();
    var height = canvasItem.height();
    var backgroundsizestring;
    if(width >= height)
    {
      backgroundsizestring = width +'px auto';
    }
    else
    {
      backgroundsizestring = 'auto ' + height + 'px';
    }

    imageItem.css({
      'background-image': imgUrl,
      'background-position':'center',
      'background-repeat':'no-repeat',
      'display': 'block',
      'height': canvasItem.height(),
      'width': canvasItem.width(),
      'background-size': backgroundsizestring,
      'top' : canvasItem.scrollLeft(),
      'left' : canvasItem.scrollTop(),
      'z-index':998
    });
    var priceBar = imageItem.children('.priceBar');
    priceBar.css({
        'color': 'white',
        'position' : 'absolute',
        'float' : 'none',
        'border-radius': '0 0 2px 2px',
        'background-color': 'rgba(0, 0, 0, 0.6)',
        'width': imageItem.width(),
        'height' : '40px',
        'left' : imageItem.scrollLeft(),
        'bottom' : '0px',
        'display': 'inline-block',
        'font-size' : '20px',
    });

    // Set the new candidate item
    var canvasId = canvasItem.attr('id');
    var itemId = item.id;
    var coverItemId = parseInt(itemId);

    var item = getItem(itemId);
    item['owner'] = t;
    item['suck'] = [];
    item['like'] = [];
    canvas.objects[canvasId].canditates[itemId] = item;
    if (is_my_canvas)
    {
      canvas.objects[canvasId].cover_item = coverItemId;
    }

    var url = '/pavo_canvas/' + canvas.owner;
    console.log(JSON.stringify(canvas));
    $.ajax({
      type: "PUT",
      contentType: "application/json; charset=utf-8",
      url: url,
      data: JSON.stringify({ "pavo_canva" : canvas }),
      dataType: "json"
    });
  }

  function addItem(item, canvasItem)
  {
    var width = canvasItem.width();
    var height = canvasItem.height();
    var backgroundsizestring;
    if(width >= height)
    {
      backgroundsizestring = width +'px auto';
    }
    else
    {
      backgroundsizestring = 'auto ' + height + 'px';
    }

    var imgUrl = "url(" + item.images[0] + ")";
    var imageItem = $('<div id="' + item.id + '" class="image_item"></div>').css({
      'background-image': imgUrl,
      'background-position':'center',
      'background-repeat':'no-repeat',
      'display': 'block',
      'background-size': backgroundsizestring,
      'height': canvasItem.height(),
      'width': canvasItem.width(),
      'top' : canvasItem.scrollLeft(),
      'left' : canvasItem.scrollTop(),
      'z-index' : 9999
    });

    imageItem.appendTo(canvasItem);

    var priceBar = $("<div class='priceBar'>$ " + item.price + "</div>");
    priceBar.css({
        'color': 'white',
        'position' : 'absolute',
        'float' : 'none',
        'border-radius': '0 0 2px 2px',
        'background-color': 'rgba(0, 0, 0, 0.6)',
        'width': imageItem.width(),
        'height' : '40px',
        'left' : imageItem.scrollLeft(),
        'bottom' : '0px',
        'display': 'inline-block',
        'font-size' : '20px',
    });
    priceBar.appendTo(imageItem);

    return imageItem;
  }
  </script>

  <div class="swan_topbar">
    <div class="image_list">
      <% @item_list.items.reverse_each do |item| %>
        <span class="swan_image">
          <%= image_tag item.images[0], :class => "item_image draggable", :id => item.id %>
          <div class='swan_innertext'>$ <%= item.price %></div>
        </span>
      <% end %>
    </div>
    <div class="swan_textbar"><a target="_blank"></a></div>
  </div>

  <div id="content">
    <div id="canvas"></div>
    <div id="selector">
      <div id="template_selector"></div>
      <div id="canditate_selector" class="overlay">
      </div>
    </div>
  </div>
  <div class="rightcontent">
    <img style="text-align:center;" src="<%= asset_path('text_info.png') %>"/>
  </div>
  <div style="margin-left: 90%">
    <strong>Owner: <%= @canvas.owner %></strong>
  </div>

  <script type="text/javascript">
  // alert("健保卡");
    // $("img.item_image").click(function(){
    //   var itemID = $(this).attr("id");
    //   var item = getItem(itemID);

    //   $("div.swan_textbar a").attr("href", item.url);
    //   $("div.swan_textbar a").text(item.title);
    //   $("img.item_image").css("border-width", "1px");
    //   $(this).css("border-width", "3px");
    // });
  initTemplate();
  </script>
</body>