function getTemplate(templateId)
{
    for(var i in templates)
    {
        var template = templates[i];
        if(template.id == templateId)
        {
            console.log("Find template: " + templateId);
            return template;
        }
    }
}

var templates =
[
{
    "id"   : "1",
    "image": "<%= asset_path('template/template001.png') %>",
    "items":
    [
    [6, 6, 260, 388],
    [272, 6, 322, 225],
    [272, 236, 322, 158]
    ]
},
{
    "id"   : "2",
    "image": "<%= asset_path('template/template002.png') %>",
    "items":
    [
    [6, 6, 322, 225],
    [335, 6, 260, 388],
    [6, 236, 322, 158]
    ]
},
{
    "id"   : "3",
    "image": "<%= asset_path('template/template003.png') %>",
    "items":
    [
    [6, 6, 320, 167],
    [333, 6, 262, 167],
    [6, 178, 589, 215]
    ]
},
{
    "id"   : "4",
    "image": "<%= asset_path('template/template004.png') %>",
    "items":
    [
    [6, 6, 589, 215],
    [6, 227, 262, 167],
    [275, 227, 320, 167]
    ]
},
{
    "id"   : "5",
    "image": "<%= asset_path('template/template005.png') %>",
    "items":
    [
    [6, 6, 292, 194],
    [304, 6, 292, 194],
    [6, 206, 292, 194],
    [304, 206, 292, 194]
    ]
}
];

function createReviewButton(review, item)
{
    var buttonDiv = $('<div class="'+ review +'_div review_div hover_scale"></div>');
    var reviewCount = item[review].length - 1;
    var buttonText = $('<div class="text_div">'+ reviewCount +'</div>')
    .addClass(review);

    buttonText.appendTo(buttonDiv);

    if (item[review].indexOf(t) == -1)
    {
        buttonDiv.addClass("no_review_div");
    }
    buttonDiv.click(function(){
        var url = '/pavo_canvas/' + canvas.owner;
        var postData = {
            "review": review,
            "token" : t,
            "target_item": item.id
        };

                var heartImage =  "<%= asset_path('heart_black.png') %>";
                if(buttonDiv.hasClass("like_div"))
                    heartImage = "<%= asset_path('heart_red.png') %>";

                var heart = $("<div><img width='100%' height='100%' src= '"+heartImage+"'/></div>");
                var offset = buttonDiv.offset();
                heart.css({
                    'position':'absolute',
                    'width' : '14px',
                    'height' : '10px',
                    'left' : (offset.left + 13),
                    'top' : (offset.top - 10),
                    'opacity' : 0.2,
                });
                $('body').append(heart);

                heart.animate({
                    opacity: 1,
                    top: "-=20",
                    // width : "+=4",
                    // height : "+=8",
                }, 500, function() {
                    heart.remove();
                });


        $.ajax({
            type: "PUT",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: JSON.stringify(postData),
            dataType: "json",
        }).done(function( data ) {

            canvas = data;
            var value = parseInt(buttonText.text());
            if(buttonDiv.toggleClass('no_review_div').hasClass('no_review_div'))
            {
                value--;
            }
            else
            {
                value++;
            }
            buttonText.text(value);
        });
});

return buttonDiv;
}

function setTemplate(template)
{
    var canvasDiv = $("#canvas");
    canvasDiv.empty();
    var items = template.items;
    canvas.template_id = template.id;
    submitCanvas();

    for(var i in items)
    {
        var canvasItem = $('<div id="' + i + '" class="canvas_item"></div>');
        var templateItem = items[i];
        canvasItem.css("left", templateItem[0] + "px");
        canvasItem.css("top", templateItem[1] + "px");
        canvasItem.css("width", templateItem[2] + "px");
        canvasItem.css("height", templateItem[3] + "px");
        canvasItem.appendTo(canvasDiv);

        canvasItem.droppable({
          drop: function( event, ui ) {
            var matchedItem = getItem(ui.draggable.attr('id'));
            setItem(matchedItem, $(this));
        }
    });

        var obj = canvas.objects[i];
        if(typeof(obj) == 'undefined')
        {
            continue;
        }
        var coverItemId = obj.cover_item;
        var coverItem = obj.canditates[coverItemId];
        var imageItem = addItem(coverItem, canvasItem);

        imageItem.click(function(i, canvasItem){
            return function(){
                $('.canvas_item').removeClass('canvas_item_selected');
                canvasItem.addClass('canvas_item_selected');

                var obj = canvas.objects[i];
                showCandidate(obj, canvasItem);
            };
        }(i, canvasItem));
        createAllReviewButton(canvasItem, coverItem);
    }
}

function createAllReviewButton(canvasItem, item)
{
    canvasItem.find('.button_container').remove();

    var buttonContainer = $('<div class="button_container"></div>');
    buttonContainer.appendTo(canvasItem);
    buttonContainer.append(createReviewButton("like", item));
    buttonContainer.append(createReviewButton("suck", item));
}

function initTemplate()
{
    var currentTemplate = getTemplate(canvas.template_id);
    setTemplate(currentTemplate);

    if(is_my_canvas)
    {
        var templateSelector = $("#template_selector");
        for(var index in templates)
        {
            var template = templates[index];
            var templateItem = $('<img class="selector_item">');
            templateItem.attr('src', template.image);

            var onClick = function() {
                var t = template;
                return function(){
                    $('.selector_item').removeClass('template_selected');
                    $(this).addClass('template_selected');
                    setTemplate(t);
                };
            }();
            templateItem.click(onClick);
            templateItem.appendTo(templateSelector);

            if (template.id == canvas.template_id)
            {
                templateItem.addClass('template_selected');
            }
        }
    }
}
